.header {
    min-height: 70vh;
}




.nadpis {
    text-align: center;
    margin-top: 2rem;
    text-shadow: 2px 2px 7px rgba(236,236,236,1), 0px 0px 7px rgba(236,236,236,1), -2px -2px 7px rgba(236,236,236,1);
}

/* buttons */ 

.sluzby {
    max-width: 1200px;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 3rem auto;
}

.buttonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.basicButton {
    margin: 20px;
    outline: none;
    width: min(220px,60vw);
    min-height: 60px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-transform: uppercase;
    font-size: small;
}

.basicButton:hover {
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
 }